@page "/"
@using AltairCA.Blazor.WebAssembly.Cookie
@using System.Diagnostics
@inject IAltairCABlazorCookieUtil _cookieUtil;
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

@code {

    protected override async Task OnInitializedAsync()
    {
        Debugger.Break();
        await base.OnInitializedAsync();
        await _cookieUtil.SetValueAsync("a", "a",path:"/",domain:"localhost",secure:true);
        await _cookieUtil.SetValueAsync(key: "b", value: "a",span:TimeSpan.Zero);
        await _cookieUtil.SetValueAsync("cookieName", "value");
    }

}